@model IEnumerable<PruebaTecnica.Models.CiudadModel>

@{
    ViewData["Title"] = "Ciudades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ciudades</h1>

<p>
    <a asp-action="Create">Crear ciudad</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
